@import "tailwindcss";
/* ===== GLOBAL RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    overflow-x: hidden;
    background-color: #f5f5f5; /* or white */
  }
  
  /* Fix mobile 100vh issue */
  body {
    min-height: 100svh;
  }
  