@import "tailwindcss";

/* ===== GLOBAL RESET ===== */
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Vertical scroll enabled normally */
html {
  overflow-y: auto;
}

body {
  overflow-y: auto;
}

/* Lock scroll when modal is open */
body.modal-open {
  overflow: hidden !important;
}
